@font-face {
	font-family: "NanumGothic";
	src: url("../assets/fonts/NanumGothic.svg#NanumGothic") format("svg"),
		url("../assets/fonts/NanumGothic.ttf") format("truetype"),
		url("../assets/fonts/NanumGothic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "NanumGothicExtraBold";
	src: url("../assets/fonts/NanumGothicExtraBold.svg#NanumGothicExtraBold") format("svg"),
		url("../assets/fonts/NanumGothicExtraBold.ttf") format("truetype"),
		url("../assets/fonts/NanumGothicExtraBold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "NotoSans";
	src: url("../assets/fonts/NotoSansKR-Bold-Alphabetic.svg#NotoSansKR-Bold-Alphabetic") format("svg"),
		url("../assets/fonts/NotoSansKR-Bold-Alphabetic.ttf") format("truetype"),
		url("../assets/fonts/NotoSansKR-Bold-Alphabetic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "NanumSquare";
	src: url("../assets/fonts/NanumSquareEB.svg#NanumSquareEB") format("svg"),
		url("../assets/fonts/NanumSquareEB.ttf") format("truetype"),
		url("../assets/fonts/NanumSquareEB.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #FFF;
    overflow: hidden;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.guide-container {
    position: absolute;
    background-color: #FFF;
    display: flex;
    width: 100%;
    height: 65%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    top: 0;
}

.guide {
    position: absolute;
}

.guide-container #logo {
    width: 35%;
}

.guide-container p {
    color: #333;
    margin: 0 auto;
    font-size: 12px;
    font-family: 'NanumSquare';
    padding-top: 15px;
}

.category-container {
    background-color: #EEE;
    position: absolute;
    height: 1.6em;
    bottom: 12em;
    text-align: center;
    overflow: hidden;
    position: absolute;
    border-radius: 2em;
    padding: 2.5px;
    display: flex;
    justify-content: center;
}

#category-container .categories::-webkit-scrollbar {
    display: none;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.category-selected {
    background-color: #FFF;
}

.category {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 3.5em;
    height: 100%;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.last-category {
    margin-right: 0px;
}

.category p {
    margin: 0 auto;
    font-size: 0.9em;
    font-family: "NanumSquare";
    color: #333;
}

.category img {
    margin: 0 auto;
    width: 95%;
}

.slider {
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 6.7em;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#slider .slides::-webkit-scrollbar {
    display: none;
}

.slides {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slides.selected {
    display: flex;
}

.slide {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333;
    border: none;
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.r-slide {
        margin-left: 15px;
}

.slide-last {
    margin-right: 0;
}

.slide p {
    margin: 0 auto;
    font-size: 20px;
    font-family: "NanumSquare";
    color: #FFF;
}

.slide img {
    position: absolute;
    margin: 0 auto;
    width: 48px;
    height: 48px;
}

.slide .unit {
    font-size: 0.65em;
}

.slide.selected {
    border: 3px solid #DDD;
}

.slide:focus {
    outline: none;
}

.slide:focus-visible {
    outline: 1px solid #CCC;
}

.btn-container {
    position: absolute;
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

#capture-btn-outline {
    position: absolute;
    width: 4.5em;
    height: 4.5em;
    background-color: #333;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2em;
    z-index: 1;
}

#capture-btn {
    width: 87%;
    height: 87%;
    background-color: #FFF;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#capture-btn #download-icon {
    position: absolute;
    width: 30%;
    display: none;
}